*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:#EFEAD8;
    background-image: url('calc3.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#txt{
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:80vh;
    margin-top: -5rem;
    /* background-color: red; */
}
.button{
    background-color: rgba(255,255,255,.4);
    border: none;
    width: 4rem;
    height: 4rem;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 20px;
    font-size: xx-large;
    outline: none;
    box-shadow:inset 3px 3px 1px #00000060,5px 5px 5px #00000070;
}

.screen,input{
    background-color: rgba(255,255,255,.4);
    height: 4rem;
    font-size: xx-large;
    width: 18rem;
    /* background-color: red; */
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow:inset 3px 3px 1px #00000060,5px 5px 5px #00000070;
    text-align: end;
    padding-right:1px ;
}
#clear{
    font-size: x-large;
}

input[type="text"]{
    background: transparent;
    color: black;
    min-width: 1rem ;
    border: none;
    box-shadow: none;
    outline: none;
}
.button:hover{
    box-shadow:inset 3px 3px 1px #ffffff60,5px 5px 5px #ffffff70;
    color:white;
    background-color:rgba(0,0,0,.4) ;
}

.submit{
    width:8rem ;
    text-align: center;
    padding-top: 1rem;
}